.appearance_page_custom-header #headimg {
  background-repeat: no-repeat;
  border: none;
  background-position: left;
}
#headimg h1 a {
  float: left;
  width: 100%;
  text-decoration: none;
}

#headimg img {
  display: inline-block;
}

#desc {
  float: left;
  width: 100%;
}
.wrap .saved {
  color: white;
  font-size: 1.3em;
  padding: 5px;
  background-color: #275B1E;
}

.wrap .dm-logo {
  max-width: 100%;
  height: auto;
}


.dm_header_name_desc {
  display: inline-block;
}

.dm-logo-wrap {
  float: right;
  margin: 5px;
}

.dm-options-form-wrap {
  background-color: #ffffff;
}

/* ADVANCED CUSTOM FIELDS ADMIN STYLES */
.home-image-carousel-admin .acf-gallery {
  max-height: 200px;
}
/* Grey out ACF inactive panels */
.acfInactive .acf-fc-layout-handle {
  background-color: #e1e1e1;
  color: #888 !important;
}
.acfInactive .acf-fc-layout-handle:after {
  content: " - Inactive";
}

@media (max-width: 535px) {
  .dm-logo-wrap {
    width: 100%;
    text-align: center;
  }
  .wrap .dm-logo {
    max-width: 50%;
  }
}