.slideshow-panel {
  position: relative;
  .header-logo-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    z-index: 10;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width:767px) {
      width: auto;
    }
    .header-logo {
      width: 80%;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      @media(min-width:992px) and (max-width:1199px) {
      }
      @media(min-width:768px) and (max-width:991px) {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }

    h2.event-location,
    h2.event-date {
      font-size: 13px;
      color: #fff;
      font-weight: 300;
      font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
      display: inline;
      padding: 0;
      margin: 0;
      i.fa {
        color: red;
        margin-right: 5px;
      }
      @media (max-width:767px) {
        display: block;
        font-size: 16px;
      }
    }
    h2.event-date {
      margin-left: 15px;
      @media (max-width:767px) {
        margin-top: 5px;
      }
    }
    a:hover {
      color: #fff;
    }
    .call_to_action_text {
      margin-bottom: 0;
      color: #fff;
      font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 22px;
      @media (max-width:767px) {
        margin-top: 10px;
      }
    }
  }
  .carousel-control {
    @media (max-width:767px) {
      z-index: 100;
      width: 10%;
    }
    .glyphicon-chevron-left, 
    .glyphicon-chevron-right {
      width: 32px;
      height: 60px;
      @media (max-width:767px) {
        width: 16px;
        height: 30px;
      }
    }
  }
  .carousel-inner>.item>a>img, 
  .carousel-inner>.item>img {
    width: 100%;
  }
}

.what-is-maker-faire {
  padding-top: 15px;
  .title-w-border-y {
    
  }
  .wimf-border {
    height: 42px;
    background-color: #005980;
    margin-top: 50px;
    .wimf-triangle {
      height: 35px;
      width: 35px;
      background-color: #005980;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: -17px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  img {
    width: 100px;
    position: absolute;
    left: 15%;
    margin-top: -106px;
    @media (max-width:767px) {
      width: 85px;
      left: 10%;
      margin-top: -90px;
    }
  }
}


.recent-post-panel {
  padding-top: 10px;
  .container {
    padding-bottom: 15px;
  }
  .recent-post-post {
    margin-bottom: 20px;
    &:nth-child(5) {
      clear: both;
    }
    @media (max-width:767px) {
      display: none;
      &:first-child, &:nth-child(2) {
        display: block;
      }
    }
    a:hover {
      text-decoration: none;
    }
    .recent-post-inner {
      background-color: #FAFAFA;
      border-radius: 5px;
      box-shadow: 0 3px 9px -2px #CCC;
      transition: all 0.1s linear;
      &:hover {
        box-shadow: 0 3px 9px 0px #CCC;
        transition: all 0.1s linear;
      }
      .recent-post-img {
        height: 200px;
        width: auto;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px 5px 0 0;
      }
      h4 {
        color: #333;
        font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        max-height: 44px; // 2 lines of text
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        &:hover {
          text-decoration: none;
        }
        @media (max-width:767px) {
          max-height: 71px; // 3 lines
        }
      }
      .recent-post-date {
        font-size: 11px;
        line-height: 13px;
        color: #9B9B9B;
        margin-bottom: 8px;
      }
      p {
        color: #4A4A4A;
        font-size: 14px;
        line-height: 22px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .recent-post-text {
      padding: 15px;
      border-radius: 0 0 5px 5px;
      height: 210px;
      overflow: hidden;
      @media (min-width:992px) and (max-width:1199px) {
        height: 225px;
      }
      @media (min-width:768px) and (max-width:991px) {
        .recent-post-descripton {
          margin-bottom: 0;
          font-size: 13px;
          line-height: 1.3em;
          max-height: 111px;
        }
      }
      .recent-post-descripton {
        overflow: hidden;
        text-overflow: ellipsis;
        @media (min-width:992px) and (max-width:1199px) {
          max-height: 115px;
        }
      }
      .recent-post-descripton::after { 
        content: "...";
      }
    }
  }
}


.featured-maker-panel {
  background: linear-gradient(to right, #00A3DA,#00B7E3,#00A3DA);
  padding-top: 5px;
  .title-w-border-y {
    margin-bottom: 20px;
    margin-top: 15px;
    color: #fff;
  }
  .featured-maker {
    padding: 15px;
    .maker-img {
      position: relative; // for borders
      height: 150px;
      height: 14vw;
      @media (max-width:767px) {
        height: 30vw;
      }
      width: 100%;
      background-size: cover;
      background-position: center center;
      border: 2px solid #005980;
      border-radius: 20px 20px 20px 0;
      //outline: 5px solid rgba(255, 255, 255, 0.73);
      &:before {
        content: " ";
        position: absolute;
        z-index: 1;
        top: -7px;
        left: -7px;
        right: -7px;
        bottom: -7px;
        border-radius: 25px 25px 25px 0;
        border: 5px solid rgba(255, 255, 255, 0.73);
      }
    }
    .maker-panel-text {
      height: 126px;
      margin-top: 15px;
      @media (max-width:767px) {
        height: 52px;
      }
      h4 {
        color: #fff;
        font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 25px;
        max-height: 68px; // 2 lines of text
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 5px;
        @media (max-width:767px) {
          max-height: 71px; // 3 lines
        }
      }
      p {
        color: #e6e6e6;
        font-size: 14px;
        line-height: 22px;
        max-height: 69px; // 3 lines of text
        overflow: hidden;
      }
    }
  }
}

.featured-maker-panel-circle {
  padding-top: 5px;
  .featured-maker {
    padding: 15px;
    .maker-img {
      position: relative; // for borders
      height: 200px;
      width: 200px;
      @media (min-width:992px) and (max-width:1199px) {
        height: 180px;
        width: 180px;
      }
      @media (min-width:768px) and (max-width:991px) {
        height: 150px;
        width: 150px;
      }
      @media (max-width:767px) {
        height: 40vw;
        width: 40vw;
      }
      margin-right: auto;
      margin-left: auto;
      background-size: cover;
      background-position: center center;
      border: 1px solid #999;
      border-radius: 50%;
    }
    .maker-panel-text {
      height: 126px;
      margin-top: 15px;
      @media (max-width:767px) {
        height: 52px;
      }
      h4 {
        color: #333;
        text-align: center;
        font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 25px;
        max-height: 68px; // 2 lines of text
        overflow: hidden;
        margin-top: 0;
        margin-bottom: 5px;
        @media (max-width:767px) {
          max-height: 71px; // 3 lines
        }
      }
      p {
        color: #666;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        max-height: 69px; // 3 lines of text
        overflow: hidden;
      }
    }
  }
}


.featured-events-panel {
  padding-top: 5px;
  .featured-event {
    margin-bottom: 50px;
    .event-img {
      width: 100%;
      height: 185px;
      @media (min-width:992px) and (max-width:1199px) {
        height: 150px;
        width: 150px;
      }
      @media (min-width:768px) and (max-width:991px) {
        height: 115px;
        width: 115px;
      }
      @media (max-width:767px) {
        height: 40vw;
        width: 40vw;
        margin-left: 0;
      }
      margin-right: auto;
      margin-left: auto;
      background-size: cover;
      background-position: center center;
      border: 2px solid #999;
    }
    .event-description {
      .event-day {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 1px;
      }
      h4 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        color: #00AEEF;
        font-family: Roboto;
      }
      .event-desc {
        font-size: 14px;
        line-height: 1.4em;
        @media (max-width:991px) {
          display: none;
        }
      }
    }
    .col-sm-8 {
      position: relative;
      height: 185px;
      @media (min-width:992px) and (max-width:1199px) {
        height: 150px;
      }
      @media (min-width:768px) and (max-width:991px) {
        height: 115px;
      }
      @media (max-width:767px) {
        height: 100px;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .event-details {
      position: absolute;
      bottom: 0;
      p {
        font-size: 12px;
        line-height: 1.4em;
        margin-bottom: 0;
        text-transform: uppercase;
        color: #666;
      }
      .event-time {

      }
      .event-location {

      }
    }
  }
}


.fom-panel {
  background: linear-gradient(to right, #00A3DA,#00B7E3,#00A3DA);
  padding: 15px 0 20px;
  .house-ad {
    @media (max-width:991px) {
      margin-top: 30px;
    }
  }
  a:hover {
    text-decoration: none;
  }
  img {
    max-width: 300px;
    max-height: 250px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width:767px) {
      max-width: 100%;
    }
  }
  h2 {
    color: #fff;
  }
  p {
    color: #fff;
    margin: 5px 0 0 0;
    font-size: 18px;
  }
}

.cta-panel {
  padding: 30px 0;
  background-color: #00597E;
  h3 {
    font-size: 26px;
    color: #fff;
    margin: 0;
    a {
      color: #fff;
      &:hover {
        color: #b3cdd9;
        text-decoration: none;
      }
    }
  }
}

.newsletter-panel {
  padding: 30px 0;
  background-color: #00597E;
  p {
    color: #fff;
    font-size: 20px;
    line-height: 24px
  }
  form {
    .nl-panel-input {
      width: 70%;
      max-width: 350px;
      margin-right: 15px;
      @media (max-width:767px) {
        width: 100%;
        margin-right: 0;
        max-width: none;
        margin-bottom: 15px;
      }
    }
    .btn-w-ghost {

    }
  }
}

.rectangle-image-carousel {
  @media (max-width:767px) {
    padding-left: 0;
    padding-right: 0;
  }
  img {
    width: 100%;
  }
  .carousel-caption {
    color: #fff;
    h3 {
      text-align: center;
    }
  }
  .carousel-control {
    @media (max-width:767px) {
      z-index: 100;
      width: 10%;
    }
    .glyphicon-chevron-left, 
    .glyphicon-chevron-right {
      width: 32px;
      height: 60px;
      @media (max-width:767px) {
        width: 16px;
        height: 30px;
      }
    }
  }
  .carousel-inner>.item>a>img, 
  .carousel-inner>.item>img {
    width: 100%;
  }
}

.square-image-carousel {
  position: relative;
  .mtm-carousel {
    .mtm-car-image {
      height: 500px;
      width: 800px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      @media (min-width:992px) and (max-width:1199px) {
        height: 400px;
        width: 600px;
      }
      @media (min-width:768px) and (max-width:991px) {
        height: 300px;
        width: 500px;
      }
      @media (max-width:767px) {
        height: 190px;
        width: 280px;
      }
    }
    .owl-controls {
      display: none;
    }
  }
  .carousel-control {
    z-index: 10;
    @media (max-width:767px) {
      z-index: 100;
      width: 10%;
    }
    .glyphicon-chevron-left, 
    .glyphicon-chevron-right {
      width: 32px;
      height: 60px;
      @media (max-width:767px) {
        width: 16px;
        height: 30px;
      }
    }
  }
}

// Common elements
.content-panel {
  padding-top: 20px;
  .container {
    padding-bottom: 30px;
  }
}
.robot-head {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


